#profileBackground {
  height: 360px;
  background-image: url(../assets/header-images/elijah-m-henderson-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}
